* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
}

/* GROUPIES ;)) */
nav,
section {
  padding: 0 7em;
}

.header {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  padding: 6rem 0;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.116);
  z-index: 100;
}
/* LANDING */
.landing {
  padding: 0;
}

.carousel-item {
  height: 100vh;
  background: black;
  color: white;
}

.landing-desc {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.landing-header {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  font-size: 5rem;
}

.landing-text {
  font-size: 2.2rem;
}
/* UVOD */
.uvod {
  min-height: 100vh;
}
.uvod-header {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

.uvod-text {
  font-size: 1.23rem;
  max-width: 80%;
}

.tm-skills {
  margin: 4em 0;
}

.skill-container {
  height: 151px;
  width: 140px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  margin-right: 4rem;
  margin-top: 4rem;
}
.skill-icon {
  width: 70%;
  margin: 0.8rem 0;
}

.skill-container p {
  padding: 0.5em 0;
  font-size: 1.25rem;
}

.tm-img {
  float: right;
  width: 80%;
}

/* O NAS */
.nas-img,
.nas-img2 {
  max-width: 80%;
  margin-bottom: 4rem;
}

.nas-img2 {
  margin-top: 4rem;
}

.recept {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recept h4 {
  margin: 1em;
}
.recept-img {
  max-width: 80%;
}

.recept-box {
  border-radius: 20px;
  border: 1px solid #eeee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  max-width: 25%;
  margin: 2rem;
  cursor: pointer;
}
.video {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.2s linear;
}

.video:hover video {
  transform: scale(1.1);
}

.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: none;
}

.popup-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
}

.popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 4rem;
  color: white;
  font-weight: bolder;
  z-index: 100;
  cursor: pointer;
}

/* .dalsi-btn button {
  padding: 0.6em 0.4em;
  margin: 1em;

  border-radius: 10px;
  font-size: 1.5rem;

  background: #008331;
  color: white;
} */

/* FORM */
.kontakt {
  padding: 0 20em;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

form input,
form textarea {
  border-radius: 20px;
  border: 1px solid #eeee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

  margin: 0.6rem 0;
  padding: 1.25rem;

  background: #eeee;

  font-size: 1rem;
}

.recept-btn,
.submit-btn {
  padding: 0.6em 1em;
  margin: 1em 0;

  border-radius: 10px;
  font-size: 1.5rem;

  background: #008331;
  color: white;
  max-width: 60%;
}
.overlay-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}

.contact-info {
  font-size: 1.3rem;
}
.poradce {
  color: grey;
  font-size: 1.22rem;
}
.contact-top {
  margin: 2rem 0;
}
/* ====== MEDIA QUERIES ====== */

/* EXTRA EXTRA Large */
@media (max-width: 1400px) {
  .uvod-header {
    font-size: 2.25rem;
  }
  .uvod-text {
    font-size: 1.25rem;
  }
  .skill-container {
    margin-top: 2rem;
    margin-right: 1.5rem;
  }
  .kontakt {
    padding: 0 10em;
  }
  .landing-header {
    font-size: 4rem;
  }
}
/* EXTRA Large */
@media (max-width: 1280px) {
  .nas-img,
  .nas-img2 {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .landing-header {
    font-size: 3.5rem;
  }
}

/* Large */
@media (max-width: 992px) {
  nav,
  section {
    padding: 0 2em;
  }
  .uvod-header {
    font-size: 2rem;
  }
  .uvod-text {
    max-width: 100%;
    font-size: 1.25rem;
  }
  .landing-header {
    font-size: 3rem;
  }
  .landing-text {
    font-size: 1.3rem;
  }

  .recept-box {
    min-width: 100%;
  }
  .kontakt {
    text-align: center;
    padding: 0 2em;
  }

  form {
    max-width: 100%;
  }
}

/* Medium */

@media (max-height: 768px) {
}
@media (max-width: 768px) {
  .popup-video video {
    width: 95%;
  }
}

/* X small */

@media (max-width: 576px) {
  .tm-skills .row {
    justify-content: center;
  }

  .overlay-image {
    width: 100%;
    object-fit: cover;
  }
  .recept-btn,
  .submit-btn {
    font-size: 1.2rem;
  }
}

/* FOOTER  */
footer {
  background-color: rgba(255, 200, 200, 0.308);
  margin-top: 4em;
}

footer p {
  margin: 0;
  padding: 1em;
  font-size: 1rem;
}
